{% load static %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0">
  <title>Relancino - Login</title>
  <meta name="author" content="AplCorporacion">
  <link rel="stylesheet" href="{% static 'login/css/login.css' %}">

  <!-- Icono de la pagina -->
  <link id="iconPagWeb" rel="shortcut icon" href="{% static 'principal/img/loteria.jpg' %}" type="image/x-icon">


  
  


</head>
<body>
  

  <section id="page" class="body">
    <div class="container">
      <div class="margin-container">
        <div class="default-container dc-logo">
          <img src="{% static 'principal/img/loteria.jpg' %}" id="" height="86" width="250">
          <!--<p class="logo_label">RelancinoRF</p>-->
          <!--<p><small>Sistema ASQI</small></p>-->
        </div>
          <div class="login center">
            <div class="body">
              <form action="{% url 'login:login' %}" method="post" encoding='utf-8'>
              {% csrf_token %}
              <div class="default-container">
                <ul>
                                <li>
                                    <div class="border-up">
                                        <div class="inputup-bg">
                                            
                                            {{ form.username }}

                                        </div>
                                    </div>
                                </li>
                                <li>
                                  <div class="border-down">
                                        <div class="inputdown-bg">
                                           
                                            {{form.password}}

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                       {% if form.non_field_errors  %}
                              <ul class="messages">
                                <li class="warning">
                                  Combinacion de credenciales incorrecta.
                                </li>
                              </ul>     
                        {% endif %}

                        <div class="default-container-top">
                          <button class="btn green" type="submit">Iniciar sesion</button>
                        </div>
                  </form>
            </div>
          </div>
      </div>
    </div>
  </section>




  <script src="{% static 'login/js/cookiesDjango.js' %}"></script>
  <script src="{% static 'login/js/imagenes_login.js' %}"></script>
</body>
</html>