{% extends "base.html" %}
{% load static %}

{% load tag_consultas_jugadas %}
{% block EnlacesPlantillas %}

<link rel="stylesheet" href="{% static 'juegos/css/estilos.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  


    {% endblock %}





{% block menu_superior %}
      <!--Aqui se incluye el menu superior-->
      {% include "menu_superior.html" %}
    
      {% endblock%}


    
    
    

    
    {% block contenedor %} 

    <div id="layoutSidenav">
    
        <!--Aqui se incluye el menu lateral-->
        {% include "menu_dashboar.html" with tema="index" subtema=""   %}


        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4 abs-center">Jugadas Actuales</h1>
                    
                    <div class="row">
                        <!---
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                
                                    
                                <div class="card-header">
                                    <i class="fas fa-chart-area me-1"></i>
                                </div>
                                <div class="card-body">
                                    <h3>Filtros:</h3>
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">Tipo de Jugada</th>
                                            <th scope="col">Usuario</th>
                                            <th scope="col">Digito:</th>
                                            <th scope="col">Repeticiones:</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            <form action="#" method="get">
                                                <th scope="col"><input type="text"></th>
                                                <th scope="col"><input type="text"></th>
                                                <th scope="col"><input type="text"></th>
                                                <th scope="col"><input type="text"></th>
                                            </form>

                                        </tbody>
                                      </table>
                                      
                                </div>
                            
                                
                                <div class="card-header">
                                    <i class="fas fa-chart-area me-1"></i>
                                </div>
                            
                            </div>
                        </div>
                        -->
                    </div>


                    <br><br><br>
                    <hr>
                    <div class=" container-fluid ">

                        <div class="row filaGeneral "  >

                            
                            

                            <div class="col  columnasGeneral  " style="background-color:bslanchedalmond;">

                                <div class="row abs-center ">
                            
                                    <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                                    <div class="col-3 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                                </div>
                            
                                {% for jugada in jugadas1 %} 

                                
                                <div class="row abs-center">

                            
                                    <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                    <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                    {% monto_total jugada.repetidor jugada.id_tipo_jugada.monto_jugada as MontoTotal %}
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                </div>
                                
                                                
                                {% endfor %}
                            
                            
                            
                            </div>


                            

                            

                            <div class="col  columnasGeneral " style="background-color:bslanchedalmond;">

                                <div class="row abs-center ">
                            
                                    <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                                    <div class="col-2 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                                </div>

                                {% for jugada in jugadas2 %} 

                                
                                <div class="row abs-center">

                            
                                    <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                    <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                    {% monto_total jugada.repetidor jugada.id_tipo_jugada.monto_jugada as MontoTotal %}
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                </div>
                                
                                                
                                {% endfor %}
                            
                            
                            
                            </div>

                            <div class="col  columnasGeneral " style="background-color:bslanchedalmond;">

                                <div class="row abs-center ">
                            
                                    <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                                    <div class="col-2 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                                </div>
                            

                                {% for jugada in jugadas3 %} 

                                
                                <div class="row abs-center">

                            
                                    <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                    <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                    {% monto_total jugada.repetidor jugada.id_tipo_jugada.monto_jugada as MontoTotal %}
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                </div>
                                
                                                
                                {% endfor %}
                            
                            
                            </div>

                            <div class="col  columnasGeneral " style="background-color:bslanchedalmond;">

                                <div class="row abs-center ">
                            
                                    <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                                    <div class="col-2 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                                </div>

                                {% for jugada in jugadas4 %} 

                                
                                <div class="row abs-center">

                            
                                    <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                    <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                    {% monto_total jugada.repetidor jugada.id_tipo_jugada.monto_jugada as MontoTotal %}
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                </div>
                                
                                                
                                {% endfor %}
                            
                            
                            
                            </div>

                            <div class="col  columnasGeneral " style="background-color:bslanchedalmond;">

                                <div class="row abs-center ">
                            
                                    <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                                    <div class="col-2 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                                </div>

                                {% for jugada in jugadas5 %} 

                                
                                <div class="row abs-center">

                            
                                    <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                    <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                    {% monto_total jugada.repetidor jugada.id_tipo_jugada.monto_jugada as MontoTotal %}
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                </div>
                                
                                                
                                {% endfor %}
                            
                            
                            
                            </div>

                            <div class="col  columnasGeneral " style="background-color:bslanchedalmond;">

                                <div class="row abs-center ">
                            
                                    <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                                    <div class="col-2 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                                </div>

                                {% for jugada in jugadas6 %} 

                                
                                <div class="row abs-center">

                            
                                    <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                    <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                    {% monto_total jugada.repetidor jugada.id_tipo_jugada.monto_jugada as MontoTotal %}
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                </div>
                                
                                                
                                {% endfor %}
                            
                            
                            
                            </div>

                            <div class="col  columnasGeneral " style="background-color:bslanchedalmond;">

                                <div class="row abs-center ">
                            
                                    <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                                    <div class="col-2 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                                </div>

                                {% for jugada in jugadas7 %} 

                                
                                <div class="row abs-center">

                            
                                    <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                    <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                    {% monto_total jugada.repetidor jugada.id_tipo_jugada.monto_jugada as MontoTotal %}
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                </div>
                                
                                                
                                {% endfor %}
                            
                            
                            
                            </div>

                            <div class="col  columnasGeneral " style="background-color:bslanchedalmond;">

                                <div class="row abs-center ">
                            
                                    <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                                    <div class="col-2 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                                </div>

                                {% for jugada in jugadas8 %} 

                                
                                <div class="row abs-center">

                            
                                    <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                    <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                    {% monto_total jugada.repetidor jugada.id_tipo_jugada.monto_jugada as MontoTotal %}
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                </div>
                                
                                                
                                {% endfor %}
                            
                            
                            
                            </div>

                            <div class="col  columnasGeneral " style="background-color:bslanchedalmond;">

                                <div class="row abs-center ">
                            
                                    <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                                    <div class="col-2 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                                </div>

                                {% for jugada in jugadas9 %} 

                                
                                <div class="row abs-center">

                            
                                    <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                    <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                    {% monto_total jugada.repetidor jugada.id_tipo_jugada.monto_jugada as MontoTotal %}
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                </div>
                                
                                                
                                {% endfor %}
                            
                            
                            
                            </div>


                            <div class="col  columnasGeneral " style="background-color:bslanchedalmond;">

                                <div class="row abs-center ">
                            
                                    <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                                    <div class="col-2 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                                </div>

                                {% for jugada in jugadas10 %} 

                                
                                <div class="row abs-center">

                            
                                    <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                    <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                    {% monto_total jugada.repetidor jugada.id_tipo_jugada.monto_jugada as MontoTotal %}
                                    <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                </div>
                                
                                                
                                {% endfor %}
                            
                            
                            
                            </div>






                            

                            


                            

                            

                            

                            



                            
                           

                          
                          
                        </div>

                        
                        
                        
                    </div>


                    <br><br>




                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <!--<i class="fas fa-chart-area me-1"></i>-->
                                </div>
                                <div class="card-body">
                                    
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Tipo de Jugada</th>
                                            <th scope="col">Usuario</th>
                                            <th scope="col">Digito:</th>
                                            <th scope="col">Repeticiones:</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            {% for jugada in jugadas %} 
                                                <tr>
                                                <th scope="row">{{forloop.counter}}</th>
                                                <td>{{ jugada.id_tipo_jugada.nombre }}</td>
                                                <td>{{ jugada.id_usuario }}</td>
                                                <td>{{ jugada.digitos }}</td>
                                                <td>{{ jugada.repetidor }}</td>
                                              </tr>
                                                <div class="col text-light">  </div> 
                                            {% endfor %}

                                        </tbody>
                                      </table>
                                      
                                </div>
                                <div class="card-header">
                                    <!--<i class="fas fa-chart-area me-1"></i>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>


            
        </div>


    </div>
            
          
    {% endblock %}


    {% block EnlacesListado_js %}

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

    {% endblock %}