{% extends "base.html" %}
{% load static %}

{% load tag_consultas_jugadas %}
{% block EnlacesPlantillas %}

<link rel="stylesheet" href="{% static 'juegos/css/estilos.css' %}">
  


    <script >

        function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
        }

        //Valor que  le pasaremos aa Django para la seguridad
        var csrftoken = getCookie('csrftoken');
       
    
    function ConsultarJugadas(tipo){

        console.log("Iniciando aqui...",tipo.id);
        console.log("Monto: ",tipo.dataset.monto);


        var data = {'tipos': tipo.id};

        fetch("consultarjugada/",{
        method:"POST",
        //body: formData,
        body:JSON.stringify(data),
        headers:{
            'Content-Type': 'application/json',
            "X-CSRFToken":csrftoken,
            "X-Requestd-With":"XMLGttpRequest"//Con esto indicamos que es una peticion ajax
        }

        //Promesa de javascript
        }).then(
            function(response){

                return response.json();
                
                //console.log(response.data);
            }//fin de la funcion

        ).then(
            function(data){

                //Esto es para saber la longitud del Json
                //Object.keys(data).length

                //En caso de que no haya ningun mensaje
                //console.clear();
                if(Object.keys(data).length == 0){

                    console.log("No hay mensajes traidos de la api");
                     // Eliminando todos los hijos de un elemento
                     var elemento  = document.getElementById("jugadas1");
                     while (elemento.firstChild) {
                         
                         elemento.removeChild(elemento.firstChild);
                     }


                     //Div principal(ROW)
                    var DivRow = document.createElement("div");
                    DivRow.className += "row abs-center";

                    //Div columnas(COL)
                    var Divcol1 = document.createElement("div");
                    Divcol1.className += "col-1 border";

                    var Divcol2 = document.createElement("div");
                    Divcol2.className += "col-3 border";

                    var Divcol3 = document.createElement("div");
                    Divcol3.className += "col-2 border";

                    var Divcol4 = document.createElement("div");
                    Divcol4.className += "col-2 border";
                    

                    //Parrafos
                    var p1 = document.createElement("p");
                    var p2 = document.createElement("p");
                    var p3 = document.createElement("p");
                    var p4 = document.createElement("p");
                    p1.className += "consultaP letraPrincipal";
                    p2.className += "consultaP letraPrincipal";
                    p3.className += "consultaP letraPrincipal";
                    p4.className += "consultaP letraPrincipal";
                    p1.innerHTML = "#";
                    p2.innerHTML = "Num";
                    p3.innerHTML = "Rep";
                    p4.innerHTML = "Mon";
                    
                    //Metemos dentro de la columna general el div Row
                    elemento.appendChild(DivRow);

                    //Metemos las columnas dentro del div row
                    DivRow.appendChild(Divcol1); 
                    DivRow.appendChild(Divcol2); 
                    DivRow.appendChild(Divcol3); 
                    DivRow.appendChild(Divcol4); 

                    //Metemos los parrafos dentro de los div col
                    Divcol1.appendChild(p1); 
                    Divcol2.appendChild(p2); 
                    Divcol3.appendChild(p3); 
                    Divcol4.appendChild(p4);








                
                }else{

                    console.log("Hay mensajes traidos de la api",Object.keys(data).length);


                    console.log("datos traidos desde la api: ",data);
                    console.log("tipo de dato: ",typeof data);
                    //console.log("datos traidos desde la api: ",data['name']);

                    // Eliminando todos los hijos de un elemento
                    var elemento  = document.getElementById("jugadas1");
                    while (elemento.firstChild) {
                        
                        elemento.removeChild(elemento.firstChild);
                    }






                    //Empezamos la creacion de los elemento
                    /*
                    <div class="row abs-center " id="Mensaje">
                                
                        <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                        <div class="col-3 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                    </div>
                    */

                    //Div principal(ROW)
                    var DivRow = document.createElement("div");
                    DivRow.className += "row abs-center";

                    //Div columnas(COL)
                    var Divcol1 = document.createElement("div");
                    Divcol1.className += "col-1 border";

                    var Divcol2 = document.createElement("div");
                    Divcol2.className += "col-3 border";

                    var Divcol3 = document.createElement("div");
                    Divcol3.className += "col-2 border";

                    var Divcol4 = document.createElement("div");
                    Divcol4.className += "col-2 border";
                    

                    //Parrafos
                    var p1 = document.createElement("p");
                    var p2 = document.createElement("p");
                    var p3 = document.createElement("p");
                    var p4 = document.createElement("p");
                    p1.className += "consultaP letraPrincipal";
                    p2.className += "consultaP letraPrincipal";
                    p3.className += "consultaP letraPrincipal";
                    p4.className += "consultaP letraPrincipal";
                    p1.innerHTML = "#";
                    p2.innerHTML = "Num";
                    p3.innerHTML = "Rep";
                    p4.innerHTML = "Mon";
                    
                    //Metemos dentro de la columna general el div Row
                    elemento.appendChild(DivRow);

                    //Metemos las columnas dentro del div row
                    DivRow.appendChild(Divcol1); 
                    DivRow.appendChild(Divcol2); 
                    DivRow.appendChild(Divcol3); 
                    DivRow.appendChild(Divcol4); 

                    //Metemos los parrafos dentro de los div col
                    Divcol1.appendChild(p1); 
                    Divcol2.appendChild(p2); 
                    Divcol3.appendChild(p3); 
                    Divcol4.appendChild(p4); 


                    for (const element in data) {
                        console.log(element);
                        console.log("Elemento: ",`${element}`, "Digito: ", `${data[element].digitos}`, "Repeticion: ", `${data[element].repetidor}`);
                        //MensajeSubliminal.innerHTML += "<br> "+element+": "+data[element]+" <br>";
                    
                    
                        //Div principal(ROW)
                    var DivRow = document.createElement("div");
                    DivRow.className += "row abs-center";

                    //Div columnas(COL)
                    var Divcol1 = document.createElement("div");
                    Divcol1.className += "col-1 border";

                    var Divcol2 = document.createElement("div");
                    Divcol2.className += "col-3 border";

                    var Divcol3 = document.createElement("div");
                    Divcol3.className += "col-2 border";

                    var Divcol4 = document.createElement("div");
                    Divcol4.className += "col-2 border";
                    

                    //Parrafos
                    var p1 = document.createElement("p");
                    var p2 = document.createElement("p");
                    var p3 = document.createElement("p");
                    var p4 = document.createElement("p");
                    p1.className += "consultaP letraPrincipal";
                    p2.className += "consultaP letraPrincipal";
                    p3.className += "consultaP letraPrincipal";
                    p4.className += "consultaP letraPrincipal";
                    p1.innerHTML = "#";
                    p2.innerHTML = data[element].digitos;
                    p3.innerHTML = data[element].repetidor;
                    var monto_jugada= parseFloat(tipo.dataset.monto);
                    var repeticion = Number(data[element].repetidor)
                    var monto = monto_jugada*repeticion;
                    console.log(monto,typeof monto);
                    console.log(repeticion,typeof repeticion);
                    console.log(monto*repeticion);
                    p4.innerHTML = monto;
                    
                    //Metemos dentro de la columna general el div Row
                    elemento.appendChild(DivRow);

                    //Metemos las columnas dentro del div row
                    DivRow.appendChild(Divcol1); 
                    DivRow.appendChild(Divcol2); 
                    DivRow.appendChild(Divcol3); 
                    DivRow.appendChild(Divcol4); 

                    //Metemos los parrafos dentro de los div col
                    Divcol1.appendChild(p1); 
                    Divcol2.appendChild(p2); 
                    Divcol3.appendChild(p3); 
                    Divcol4.appendChild(p4); 
                    
                    
                    
                    }



                }//Fin del else

                


                //For para agregar los mensaje respectivos
                for (const element in data) {
                    //console.log(`${element}: ${data[element]}`);
                    //MensajeSubliminal.innerHTML += "<br> "+element+": "+data[element]+" <br>";
                }





            }//fin de la funcion

        ) //fin de then

    }//fin de la funcion consultarJugada
    </script>

{% endblock %}





{% block menu_superior %}
      <!--Aqui se incluye el menu superior-->
      {% include "menu_superior.html" %}
    
      {% endblock%}


    
    
    

    
    {% block contenedor %} 

    <div id="layoutSidenav">
    
        <!--Aqui se incluye el menu lateral-->
        {% include "menu_dashboar.html" with tema="index" subtema=""   %}


        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4 abs-center">Jugadas Actuales</h1>
                    
                    <div class="row">
                        
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                
                                    
                                <div class="card-header">
                                    <i class="fas fa-chart-area me-1"></i>
                                </div>
                                <div class="card-body">
                                    <h3>Tipos de jugadas:</h3>

                                    <p>
                                        
                                        
                                        
                                        {% for tipo_jugada in tipos_de_jugadas %}

                                            {% crear_boton_tipos tipo_jugada  %}

                                        {% endfor %}
                                        
                                        <!--
                                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Primera Jugada</a>
                                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Segunda Jugada</button>
                                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Tercea Jugada</button>
                                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4">Cuarta Jugada</button>
                                        
                                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
                                    
                                        -->
                                    </p>
                                      

                                    
                                      
                                </div>
                            
                                
                            
                            </div>
                        </div>
                        <!---
                        -->
                    </div>


                    <div class=" container-fluid ">

                        <div class="collapse multi-collapse" id="multiCollapseExample1">

                            <div class="row filaGeneral "  >

                            
                            

                                <div class="col columnasGeneral" id="jugadas1" style="background-color:bslanchedalmond;">
    
                                    <div class="row abs-center " >
                                
                                        <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                                        <div class="col-3 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                                    </div>
                                
                                    {% for jugada in jugadas1 %} 
    
                                    
                                    <div class="row abs-center">
    
                                
                                        <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                        <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                        {% monto_total jugada.repetidor jugada.id_tipo_jugada.monto_jugada as MontoTotal %}
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                    </div>
                                    
                                                    
                                    {% endfor %}
                                    <!----DATOS DINAMICOS AQUI-->


                                    <div class="row abs-center">
    
                                        <!---Primera Fila--->
                                        <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                        <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                        
                                        
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                    </div>

                                    
                                
                                
                                
                                </div>
    
    
                                
    
                                
    
                                <div class="col  columnasGeneral " style="background-color:bslanchedalmond;">
    
                                    <div class="row abs-center ">
                                
                                        <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                                        <div class="col-2 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                                    </div>
    
                                    {% for jugada in jugadas2 %} 
    
                                    
                                    <div class="row abs-center">
    
                                
                                        <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                        <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                        {% monto_total jugada.repetidor jugada.id_tipo_jugada.monto_jugada as MontoTotal %}
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                    </div>
                                    
                                                    
                                    {% endfor %}
                                
                                
                                
                                </div>
    
                                <div class="col  columnasGeneral " style="background-color:bslanchedalmond;">
    
                                    <div class="row abs-center ">
                                
                                        <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                                        <div class="col-2 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                                    </div>
                                
    
                                    {% for jugada in jugadas3 %} 
    
                                    
                                    <div class="row abs-center">
    
                                
                                        <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                        <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                        {% monto_total jugada.repetidor jugada.id_tipo_jugada.monto_jugada as MontoTotal %}
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                    </div>
                                    
                                                    
                                    {% endfor %}
                                
                                
                                </div>
    
                                <div class="col  columnasGeneral " style="background-color:bslanchedalmond;">
    
                                    <div class="row abs-center ">
                                
                                        <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                                        <div class="col-2 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                                    </div>
    
                                    {% for jugada in jugadas4 %} 
    
                                    
                                    <div class="row abs-center">
    
                                
                                        <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                        <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                        {% monto_total jugada.repetidor jugada.id_tipo_jugada.monto_jugada as MontoTotal %}
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                    </div>
                                    
                                                    
                                    {% endfor %}
                                
                                
                                
                                </div>
    
                                <div class="col  columnasGeneral " style="background-color:bslanchedalmond;">
    
                                    <div class="row abs-center ">
                                
                                        <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                                        <div class="col-2 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                                    </div>
    
                                    {% for jugada in jugadas5 %} 
    
                                    
                                    <div class="row abs-center">
    
                                
                                        <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                        <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                        {% monto_total jugada.repetidor jugada.id_tipo_jugada.monto_jugada as MontoTotal %}
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                    </div>
                                    
                                                    
                                    {% endfor %}
                                
                                
                                
                                </div>
    
                                <div class="col  columnasGeneral " style="background-color:bslanchedalmond;">
    
                                    <div class="row abs-center ">
                                
                                        <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                                        <div class="col-2 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                                    </div>
    
                                    {% for jugada in jugadas6 %} 
    
                                    
                                    <div class="row abs-center">
    
                                
                                        <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                        <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                        {% monto_total jugada.repetidor jugada.id_tipo_jugada.monto_jugada as MontoTotal %}
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                    </div>
                                    
                                                    
                                    {% endfor %}
                                
                                
                                
                                </div>
    
                                <div class="col  columnasGeneral " style="background-color:bslanchedalmond;">
    
                                    <div class="row abs-center ">
                                
                                        <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                                        <div class="col-2 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                                    </div>
    
                                    {% for jugada in jugadas7 %} 
    
                                    
                                    <div class="row abs-center">
    
                                
                                        <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                        <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                        {% monto_total jugada.repetidor jugada.id_tipo_jugada.monto_jugada as MontoTotal %}
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                    </div>
                                    
                                                    
                                    {% endfor %}
                                
                                
                                
                                </div>
    
                                <div class="col  columnasGeneral " style="background-color:bslanchedalmond;">
    
                                    <div class="row abs-center ">
                                
                                        <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                                        <div class="col-2 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                                    </div>
    
                                    {% for jugada in jugadas8 %} 
    
                                    
                                    <div class="row abs-center">
    
                                
                                        <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                        <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                        {% monto_total jugada.repetidor jugada.id_tipo_jugada.monto_jugada as MontoTotal %}
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                    </div>
                                    
                                                    
                                    {% endfor %}
                                
                                
                                
                                </div>
    
                                <div class="col  columnasGeneral " style="background-color:bslanchedalmond;">
    
                                    <div class="row abs-center ">
                                
                                        <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                                        <div class="col-2 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                                    </div>
    
                                    {% for jugada in jugadas9 %} 
    
                                    
                                    <div class="row abs-center">
    
                                
                                        <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                        <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                        {% monto_total jugada.repetidor jugada.id_tipo_jugada.monto_jugada as MontoTotal %}
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                    </div>
                                    
                                                    
                                    {% endfor %}
                                
                                
                                
                                </div>
    
    
                                <div class="col  columnasGeneral " style="background-color:bslanchedalmond;">
    
                                    <div class="row abs-center ">
                                
                                        <div class="col-1 border" style="background-color:gresen;"><p class="consultaP letraPrincipal" >#</p></div>
                                        <div class="col-2 border" style="background-color:bluse;"><p class="consultaP letraPrincipal">Num</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Rep</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="consultaP letraPrincipal">Mon</p></div>
                                    </div>
    
                                    {% for jugada in jugadas10 %} 
    
                                    
                                    <div class="row abs-center">
    
                                
                                        <div class="col-1 border" style="background-color:gresen;"><p class="numeroPrincipal" >{{forloop.counter}}</p></div>
                                        <div class="col-3 border" style="background-color:bluse;"><p class="numeroPrincipal ">{{ jugada.digitos }}</p></div>
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ jugada.repetidor }}</p></div>
                                        {% monto_total jugada.repetidor jugada.id_tipo_jugada.monto_jugada as MontoTotal %}
                                        <div class="col-2 border" style="background-color:yelslow;"><p class="numeroPrincipal">{{ MontoTotal }}</p></div>
                                    </div>
                                    
                                                    
                                    {% endfor %}
                                
                                
                                
                                </div>
    
    
    
    
    
    
                                
    
                                
    
    
                                
    
                                
    
                                
    
                                
    
    
    
                                
                               
    
                              
                              
                            </div>


                        </div><!--Fin de collapse-->
                        

                        
                        
                        
                    </div>


                    <br><br>



                    
                </div>
            </main>


            
        </div>


    </div>
            
          
    {% endblock %}


    {% block EnlacesListado_js %}

    

    {% endblock %}