{% extends "base.html" %}
{% load static %}

{% load tag_tipos_jugadas %}
{% block EnlacesPlantillas %}

<link rel="stylesheet" href="{% static 'juegos/css/estilos.css' %}">


    {% endblock %}





{% block menu_superior %}
      <!--Aqui se incluye el menu superior-->
      {% include "menu_superior.html" %}
    
      {% endblock%}


    
    
    

    
    {% block contenedor %} 

    <div id="layoutSidenav">
    
        <!--Aqui se incluye el menu lateral-->
        {% include "menu_dashboar.html" with tema="index" subtema=""   %}


        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4 abs-center">Jugada</h1>
                    
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <!--<i class="fas fa-chart-area me-1"></i>-->
                                </div>
                                <div class="card-body">
                                    
                                    <form action="#" class="credit-card-div abs-center" id="FormJugadas" method="post">
                                        {% csrf_token %}
                                        <div class="panel panel-default" >
                                            <div class="row  abs-center ">
                                                <div class="col-md-12 pad-adjust">
                                                    <h1 class="abs-center">tipo de jugada</h1>
                                                </div>

                                                
                                          </div>
                                         <div class="panel-heading ">
                                             
                                                  <div class="row row-cols-3 ">

                                                    {% for tipo_jugada in tipos_de_jugadas %}

                                                        {% visualizar_tipos2 tipo_jugada  %}

                                                    {% endfor %}
                                                    
                                                        

                                                  </div>
                                                <br>

                                                <div class="row abs-center ">
                                                      <div class="col-md-6 pad-adjust">
                                                          {{JugadaForm.digitos}}
                                                        </div>
                                                </div>
                                                    <br>
                                                    <div class="d-none alert alert-danger" id="MensajeAdvertencia" role="alert">
                                                        Mensaje Subliminal
                                                    </div>
                                               <div class="row  ">
                                                    <div class="col abs-center ">
                                                         <input type="reset"  class="btn btn-danger" value="Limpiar" />
                                                         <input type="submit"  class="btn btn-warning " value="Guardar" id="GuardarJugadas" />
                                                      </div>
                                                </div>
                                             
                                            </div>


                                        </div>
                                    </form>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>


            
        </div>


    </div>
            
          
    {% endblock %}


    {% block EnlacesListado_js %}

        <script src="{% static 'juegos/js/cookiesDjango.js' %}" type="module"></script>
       <script src="{% static 'juegos/js/validaciones_jugadas.js' %}"></script>
       <script src="{% static 'juegos/js/api_jugadas.js' %}" type="module"></script>

    {% endblock %}