{% extends "base.html" %}
{% load static %}

{% load tag_consultas_comprobantes %}
{% block EnlacesPlantillas %}

<link rel="stylesheet" href="{% static 'vendor/animate/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'juegos/css/estilos.css' %}">

  

    <script src="{% static 'juegos/js/creacion_de_elementos_en_consultas.js' %}"></script>
    <script src="{% static 'juegos/js/cookiesDjango.js' %}"></script>

{% endblock %}





{% block menu_superior %}
      <!--Aqui se incluye el menu superior-->
      {% include "menu_superior.html" %}
    
      {% endblock%}


    
    
    

    
    {% block contenedor %} 

    <div id="layoutSidenav">
    
        <!--Aqui se incluye el menu lateral-->
        {% include "menu_dashboar.html" with tema="index" subtema=""   %}


        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4 abs-center">Comprobantes</h1>
                    
                    
                    
                    <div class="row">
                        
                      <div class="col-xl-12">
                          <div class="card mb-4">
                              
                                  
                              <div class="card-header">
                                  <i class="fas fa-chart-area me-1"></i>
                              </div>
                              <div class="card-body">
                                  <h3>Tipos de jugadas:</h3>

                                  <p>
                                      
                                      
                                      
                                      {% for tipo_jugada in tipos_de_jugadas %}

                                          {% crear_boton_tipos tipo_jugada  %}

                                      {% endfor %}
                                      
                                      <!--
                                      <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Primera Jugada</a>
                                      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Segunda Jugada</button>
                                      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Tercea Jugada</button>
                                      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4">Cuarta Jugada</button>
                                      
                                      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
                                  
                                      -->
                                  </p>
                                    

                                  
                                    
                              </div>
                          
                              
                          
                          </div>
                      </div>
                      <!---
                      -->
                  </div>


                    <div class=" container-fluid ">

                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Digito</th>
                                <th scope="col">N* telefonico</th>
                                <th scope="col">Comprobante</th>
                                <th scope="col">Estatus</th>
                                <th scope="col">Accion</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for jugada in jugadasComprobantes %}
                                  <tr id="comprobante_{{jugada.id}}" >
                                    <th> {{forloop.counter}} </th>
                                    <td>{{ jugada.id_jugada.digitos }}</td>
                                    <td>{{ jugada.id_telefono.numero_telefono }}</td>
                                    <td>{{ jugada.id_comprobante.numero_comprobante }}</td>
                                    <td>{{ jugada.status }}</td>
                                    <td>
                                      {% if jugada.status == "Por Pagar" %}
                                           
                                      <button type="button" class="btn btn-danger" id={{jugada.id}} data-status="{{jugada.status }}" data-comprobante="{{jugada.id_comprobante.numero_comprobante }}"  onclick="Pagar_Comprobante(this);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building-fill-check" viewBox="0 0 16 16">
                                          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514Z"/>
                                          <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7.256A4.493 4.493 0 0 0 12.5 8a4.493 4.493 0 0 0-3.59 1.787A.498.498 0 0 0 9 9.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .39-.187A4.476 4.476 0 0 0 8.027 12H6.5a.5.5 0 0 0-.5.5V16H3a1 1 0 0 1-1-1V1Zm2 1.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5Zm3 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
                                        </svg> Pagar
                                      </button>


                                      {% else %}
                                          

                                        <button type="button" class="btn btn-success" id={{jugada.id}} data-status="{{jugada.status }}" data-comprobante="{{jugada.id_comprobante.numero_comprobante }}"  onclick="Pagar_Comprobante(this);">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building-fill-check" viewBox="0 0 16 16">
                                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514Z"/>
                                            <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7.256A4.493 4.493 0 0 0 12.5 8a4.493 4.493 0 0 0-3.59 1.787A.498.498 0 0 0 9 9.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .39-.187A4.476 4.476 0 0 0 8.027 12H6.5a.5.5 0 0 0-.5.5V16H3a1 1 0 0 1-1-1V1Zm2 1.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5Zm3 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
                                          </svg> Pagar
                                        </button>

                                      {% endif %}
                                      
                                    </td>
                                  
                                  </tr>
                              {% endfor %}
                              </ul>
                              
                            </tbody>
                          </table>

                        
                        
                        
                    </div>


                    <br><br>


                    


                    
                </div>
            </main>


            
        </div>


    </div>
            
          
    {% endblock %}


    {% block EnlacesListado_js %}


    
    <!-- JavaScript Bundle with Popper -->
    <script src="{% static 'vendor/sweetalert2/sweetalert2.all.js' %}"  crossorigin="anonymous"></script>
          

    
    <!-- JavaScript Bundle with Popper -->
    <script src="{% static 'comprobantes/js/pagar_comprobante.js' %}"></script>

    

    {% endblock %}


    