{% extends "base.html" %}
{% load static %}

{% load tag_informe_jugadas %}
{% block EnlacesPlantillas %}

<link rel="stylesheet" href="{% static 'juegos/css/estilos.css' %}">
  


{% endblock %}





{% block menu_superior %}
      <!--Aqui se incluye el menu superior-->
      {% include "menu_superior.html" %}
    
      {% endblock%}


    
    
    

    
    {% block contenedor %} 

    <div id="layoutSidenav">
    
        <!--Aqui se incluye el menu lateral-->
        {% include "menu_dashboar.html" with tema="index" subtema=""   %}


        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4 abs-center">Informes</h1>
                    
                    <div class="row">
                        
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                
                                    
                                <div class="card-header">
                                    <i class="fas fa-chart-area me-1"></i>
                                </div>
                                <div class="card-body">
                                    <h3>Tipos de jugadas:</h3>

                                    <p>
                                        
                                        
                                        
                                        {% for tipo_jugada in tipos_de_jugadas %}

                                            {% crear_boton_tipos tipo_jugada  %}

                                        {% endfor %}
                                        
                                        <!--
                                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Primera Jugada</a>
                                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Segunda Jugada</button>
                                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Tercea Jugada</button>
                                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4">Cuarta Jugada</button>
                                        
                                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
                                    
                                        -->
                                    </p>
                                      

                                    
                                      
                                </div>
                            
                                
                            
                            </div>
                        </div>
                        <!---
                        -->
                    </div>


                    <div class=" container-fluid ">

                        <div class="collapse multi-collapse" id="multiCollapseExample1">

                            <div class="alert alert-primary" role="alert">
                                This is a primary alert—check it out!
                              </div>


                        </div><!--Fin de collapse-->
                        

                        
                        
                        
                    </div>


                    <br><br>



                    
                </div>
            </main>


            
        </div>


    </div>
            
          
    {% endblock %}


    {% block EnlacesListado_js %}

    <script src="{% static 'informes/js/cookiesDjango.js' %}"></script>
    <script src="{% static 'informes/js/informes_jugadas.js' %}"></script>

    {% endblock %}